.chat-main
  .chat-main__group-info
    .chat-main__group-info__left_box
      .chat-main__group-info__left_box__current-group
        = @group.name
      .chat-main__group-info__left_box__group-member 
        Member：
        %ul
          - @group.users.each do |user|
            %li= user.name
    .chat-main__group-info__right_box 
      = link_to edit_group_path(current_user), class: "chat-main__group-info__right_box__btn" do
        Edit
  .chat-main__chat-home
    =render @messages
  .chat-main__message-form
    .chat-main__message-form__type-area
      .chat-main__message-form__type-area__message
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "chat-main__message-form__type-area__message__text", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "form__mask__icon" do
              = icon('fa', 'image', class: 'icon')
            = f.file_field :image, class: "form__mask__icon__image"
            = f.submit 'Send', class: 'form__mask__send'
